POSTGRES_DB=gepard_billing
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@localhost:5432/gepard_billing?sslmode=disable
GRPC_PORT=50051
SERVICE_NAME=gepard-billing
LOG_LEVEL=INFO
CANCEL_ODD_OPS_CRON=@every 1m
# TODO invalid cache cron
