POSTGRES_DB=gepard_billing
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@localhost:5432/gepard_billing?sslmode=disable
GRPC_PORT=50051
GRPC_UNARY_TIMEOUT=5s
SERVICE_NAME=gepard-billing
LOG_LEVEL=INFO
CANCEL_ODD_OPS_CRON="*/1 * * * *"
DB_MAX_OPEN_CONNS=10
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_IDLE_TIME=5m
DB_CONN_MAX_LIFETIME=30m
